@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@mixin flexTemplate($direction) {
  display: flex;
  flex-direction: #{$direction};
}

.aboutSection {
  display: flex;

  .leftSectionBackground {
    flex: 1.2;
    background: var(--white-gradient);
    position: relative;
    .vectorAboutSvg {
      left: 0;
      position: absolute;
      z-index: 99;
    }
    .pandaImageAboutContainer {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 100;
      .pandaAboutImage {
        position: absolute;
        left: -380px;
        bottom: -40px;
      }
    }
  }

  .rightSectionBackground {
    flex: 4;
    @include flexTemplate(column);
    justify-content: center;
    align-items: center;
    background: var(--purple-gradient);
    position: relative;
    .vectorAboutSvg2 {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    & .aboutInfoWrapper {
      @include flexTemplate(column);

      width: 65%;
      & .aboutTitle {
        font-size: 84px;
        text-transform: uppercase;
        color: var(--white-color);
        margin-bottom: 45px;
      }

      & .aboutInfo {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: var(--white-color);
        font-weight: 500;
      }
    }
  }
}

.aboutMenu {
  @include flexTemplate(row);
  gap: 20px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 24px;
  color: var(--white-color);

  & .aboutMenu__item {
    cursor: pointer;
    padding-bottom: 6px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--white-color);
  }
}

.aboutItems {
  @include flexTemplate(column);
  gap: 20px;
  margin-top: 30px;
  & .aboutItems__singleItem {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--white-color);
  }
}
