@mixin size($width, $height) {
  width: #{$width};
  height: #{$height};
}

.particlesContainer {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
}

.asideBar {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  gap: 35px;
  top: 420px;

  & .asideBar__icon {
    cursor: pointer;
    @include size(20px, 20px);
  }
}

.ownNavbar {
  position: absolute;
  display: flex;
  align-items: center;
  top: 60px;
  left: 100px;
  z-index: 100;
  gap: 75px;

  & .cyberbizLogo__white,
  & .cyberbizLogo__purple {
    cursor: pointer;
    @include size(183px, 42px);
  }

  & .cyberbizLogo__purple {
    path {
      fill: var(--dark-purple);
    }
  }
  & .cyberbizLogo__white {
    path {
      fill: var(--white-color);
    }
  }
}

.iconsList {
  display: flex;
  gap: 15px;
  position: absolute;

  & .icon {
    cursor: pointer;
    @include size(23px, 23px);
  }
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 30px;
  color: var(--white-color);
}

.button-accent {
  background-color: var(--purple-accent);
  padding: 10px 50px;
  font-weight: 500;
}

.button-transparent {
  background-color: transparent;
  border: 1px solid var(--white-color);
}

.input,
.textArea {
  border: 1px solid var(--white-color);
  background-color: transparent;
  padding: 12px 0 12px 45px;
  outline: none;
  color: var(--white-color);
  width: 100%;
  font-size: 25px;
  line-height: 22px;
  font-weight: 500;
  box-sizing: border-box;
}

.textArea {
  padding-top: 50px;
  resize: none;
}

.input::placeholder,
.textArea::placeholder {
  color: var(--white-color);
}
