@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

$purple-gradient: 'linear-gradient(180deg, #231278 0%, #271c54 100%)';
$white-gradient: 'linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #271C54 100%, #271C54 100%)';
$purple-accent: #731bc1;
$white-color: #ffffff;

* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}

section {
  width: 100%;
  height: 1024px;
}

:root {
  --purple-gradient: #{$purple-gradient};
  --white-gradient: #{$white-gradient};
  --purple-accent: #{$purple-accent};
  --white-color: #{$white-color};
}

.mainContainer {
  display: flex;
  justify-content: center;
}

.mainWrapper {
  width: 1440px;
  position: relative;
}
